<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/estilos.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="contenedor-logo">
        <a href="/home"><img class="img-logo" src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"></a>
        <div class="barra-busqueda">
        <input type="text" name="barra-busqueda" placeholder="Buscar productos, marcas y más." class="input-busqueda">
        <i class="fas fa-search"></i>
        </div>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/registro">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="menu-desplegable">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <div class="contenedor-registro">
            <h3>Registrarse</h3>
            <form action="/" method="post">
                <input type="text" name="nombreYApellido" id="nombreYApellido" placeholder="Nombre y Apellido">
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
                <input type="email" name="email" id="email" placeholder="E-mail">
                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input type="date" name="fechaNacimiento" id="fechaNacimiento">
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
                <label for="perfilUsuario">Perfil de usuario:</label>
                <div class="contenedor-perfil">
                    <input type="radio" name="perfilUsuario" id="comprador" value="comprador">
                    <p>Comprador</p>
                    <input type="radio" name="perfilUsuario" id="vendedor" value="vendedor">
                    <p>Vendedor</p>
                </div>
                <label for="categoriasDeInteres">Categorias de interes:</label>
                <div class="contenedor-categorias">
                    <p><input type="checkbox" name="categoriasDeInteres" id="electro">Electro</p>
                    <p><input type="checkbox" name="categoriasDeInteres" id="moda">Moda</p>
                    <p><input type="checkbox" name="categoriasDeInteres" id="hogar">Hogar</p>
                    <p><input type="checkbox" name="categoriasDeInteres" id="jugueteria">Jugueteria</p>
                    <p><input type="checkbox" name="categoriasDeInteres" id="vidaSana">Vida Sana</p>
                </div>
                <label for="fotoUsuario">Elegi tu foto de usuario:</label>
                <input type="file" name="fotoUsuario" id="fotoUsuario">
                <input type="password" name="password" id="password" placeholder="Elegi tu contraseña">
                <input type="password" name="password" id="confirmPassword" placeholder="Confirma tu contraseña">
                <div class="contenedor-botones">
                    <button type="submit"><a href="/clase2">Enviar</a></button>
                    <button type="reset" class="btn-resetear">Borrar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <section>
        <article>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde los $ 2.500</h3>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
        </article>
        <article>
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
        </article>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>